.profile {
  width: 400px;

  margin: 0 auto 50px;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 7px;
  overflow: hidden;
}

.description {
  width: 300px;
  padding: 40px 0;
  text-align: center;
  margin: 0 auto;
}

.avatar {
  width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 50%;
  background-color: antiquewhite;
  margin: auto;
  margin-bottom: 20px;
}

.name {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
}

.tag {
  font-size: 15px;
  color: rgb(187, 184, 184);
}

.location {
  composes: tag;
}
