.stats {
  display: flex;
  background-color: rgb(235, 230, 230);
  height: 70px;
  border-top: 1px solid rgb(199, 195, 195);
}

.item {
  width: calc(100% / 3);
  padding: 10px;
  text-align: center;
}

.item:not(:last-child) {
  border-right: 1px solid rgb(199, 195, 195);
}
.label {
  display: block;
  font-size: 15px;
  color: gray;
}
.quantity {
  font-weight: 700;
}
